.yiiPager {
	text-align: right;
}
.yiiPager li a {
	border: none;
	padding: 0;
}
.pager .previous > a, .pager .next > a {
	float: none;
}
.yiiPager .selected a {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff 0px, #e5e5e5 99%) repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 1px;
    margin: 0;
    min-height: 26px;
    min-width: 25px;
    padding: 2px;
    vertical-align: middle;
	text-align: center;
	color: #333;
	font-weight: normal;
}
.yiiPager .selected a:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease 0s;
}